# Creating a feature matrix from a networkx graph

In this notebook we will look at a few ways to quickly create a feature matrix from a networkx graph.

In [1]:
import networkx as nx
import pandas as pd

G = nx.read_gpickle('major_us_cities')

## Node based features

In [3]:
print(G.nodes(data=True)[:5])

[('El Paso, TX', {'population': 674433, 'location': (-106, 31)}), ('Long Beach, CA', {'population': 469428, 'location': (-118, 33)}), ('Dallas, TX', {'population': 1257676, 'location': (-96, 32)}), ('Oakland, CA', {'population': 406253, 'location': (-122, 37)}), ('Albuquerque, NM', {'population': 556495, 'location': (-106, 35)})]

In [4]:
# Initialize the dataframe, using the nodes as the index
df = pd.DataFrame(index=G.nodes())

### Extracting attributes

Using `nx.get_node_attributes` it's easy to extract the node attributes in the graph into DataFrame columns.

In [5]:
df['location'] = pd.Series(nx.get_node_attributes(G, 'location'))
df['population'] = pd.Series(nx.get_node_attributes(G, 'population'))

df.head()

                   location  population
El Paso, TX      (-106, 31)      674433
Long Beach, CA   (-118, 33)      469428
Dallas, TX        (-96, 32)     1257676
Oakland, CA      (-122, 37)      406253
Albuquerque, NM  (-106, 35)      556495

### Creating node based features

Most of the networkx functions related to nodes return a dictionary, which can also easily be added to our dataframe.

In [6]:
df['clustering'] = pd.Series(nx.clustering(G))
df['degree'] = pd.Series(G.degree())

df

                                   location  population  clustering  degree
El Paso, TX                      (-106, 31)      674433    0.700000       5
Long Beach, CA                   (-118, 33)      469428    0.745455      11
Dallas, TX                        (-96, 32)     1257676    0.763636      11
Oakland, CA                      (-122, 37)      406253    1.000000       8
Albuquerque, NM                  (-106, 35)      556495    0.523810       7
Baltimore, MD                     (-76, 39)      622104    0.800000      10
Raleigh, NC                       (-78, 35)      431746    0.615385      13
Mesa, AZ                         (-111, 33)      457587    0.750000       8
Arlington, TX                     (-97, 32)      379577    0.763636      11
Sacramento, CA                   (-121, 38)      479686    0.777778       9
Wichita, KS                       (-97, 37)      386552    0.622222      10
Tucson, AZ                       (-110, 32)      526116    0.750000       8
Cleveland, OH                     (-81, 41)      390113    0.659341      14
Louisville/Jefferson County, KY   (-85, 38)      609893    0.641026      13
San Jose, CA                     (-121, 37)      998537    1.000000       8
Oklahoma City, OK                 (-97, 35)      610613    0.636364      12
Atlanta, GA                       (-84, 33)      447841    0.611111       9
New Orleans, LA                   (-90, 29)      378715    0.607143       8
Miami, FL                         (-80, 25)      417650    0.000000       1
Fresno, CA                       (-119, 36)      509924    0.888889       9
Philadelphia, PA                  (-75, 39)     1553165    0.800000      10
Houston, TX                       (-95, 29)     2195914    0.861111       9
Boston, MA                        (-71, 42)      645966    1.000000       5
Kansas City, MO                   (-94, 39)      467007    0.472527      14
San Diego, CA                    (-117, 32)     1355896    0.745455      11
Chicago, IL                       (-87, 41)     2718782    0.618182      11
Charlotte, NC                     (-80, 35)      792862    0.636364      12
Washington D.C.                   (-77, 38)      646449    0.712121      12
San Antonio, TX                   (-98, 29)     1409019    1.000000       7
Phoenix, AZ                      (-112, 33)     1513367    0.694444       9
San Francisco, CA                (-122, 37)      837442    1.000000       8
Memphis, TN                       (-90, 35)      653450    0.494505      14
Los Angeles, CA                  (-118, 34)     3884307    0.745455      11
New York, NY                      (-74, 40)     8405837    0.833333       9
Denver, CO                       (-104, 39)      649495    0.666667       4
Omaha, NE                         (-95, 41)      434353    0.444444       9
Seattle, WA                      (-122, 47)      652405    0.000000       1
Portland, OR                     (-122, 45)      609456    0.000000       2
Tulsa, OK                         (-95, 36)      398121    0.727273      11
Austin, TX                        (-97, 30)      885400    0.892857       8
Minneapolis, MN                   (-93, 44)      400070    1.000000       4
Colorado Springs, CO             (-104, 38)      439886    0.466667       6
Fort Worth, TX                    (-97, 32)      792727    0.763636      11
Indianapolis, IN                  (-86, 39)      843393    0.641026      13
Las Vegas, NV                    (-115, 36)      603488    0.666667      12
Detroit, MI                       (-83, 42)      688701    0.672727      11
Nashville-Davidson, TN            (-86, 36)      634464    0.589744      13
Milwaukee, WI                     (-87, 43)      599164    0.666667      10
Columbus, OH                      (-82, 39)      822553    0.619048      15
Virginia Beach, VA                (-75, 36)      448479    0.861111       9
Jacksonville, FL                  (-81, 30)      842583    0.500000       4

# Edge based features

In [8]:
print(G.edges(data=True)[:5])

[('El Paso, TX', 'Albuquerque, NM', {'weight': 367.88584356108345}), ('El Paso, TX', 'Mesa, AZ', {'weight': 536.256659972679}), ('El Paso, TX', 'Tucson, AZ', {'weight': 425.41386739988224}), ('El Paso, TX', 'Phoenix, AZ', {'weight': 558.7835703774161}), ('El Paso, TX', 'Colorado Springs, CO', {'weight': 797.7517116740046})]

In [9]:
# Initialize the dataframe, using the edges as the index
df = pd.DataFrame(index=G.edges())

### Extracting attributes

Using `nx.get_edge_attributes`, it's easy to extract the edge attributes in the graph into DataFrame columns.

In [10]:
df['weight'] = pd.Series(nx.get_edge_attributes(G, 'weight'))

df

                                                weight
(El Paso, TX, Albuquerque, NM)              367.885844
(El Paso, TX, Mesa, AZ)                     536.256660
(El Paso, TX, Tucson, AZ)                   425.413867
(El Paso, TX, Phoenix, AZ)                  558.783570
(El Paso, TX, Colorado Springs, CO)         797.751712
(Long Beach, CA, Oakland, CA)               579.582999
(Long Beach, CA, Mesa, AZ)                  590.156204
(Long Beach, CA, Sacramento, CA)            611.064979
(Long Beach, CA, Tucson, AZ)                698.656667
(Long Beach, CA, San Jose, CA)              518.233061
(Long Beach, CA, Fresno, CA)                360.470458
(Long Beach, CA, San Diego, CA)             151.450082
(Long Beach, CA, Phoenix, AZ)               567.412539
(Long Beach, CA, San Francisco, CA)         585.698540
(Long Beach, CA, Los Angeles, CA)            31.694196
(Long Beach, CA, Las Vegas, NV)             385.259773
(Dallas, TX, Arlington, TX)                  29.425931
(Dallas, TX, Wichita, KS)                   548.057249
(Dallas, TX, Oklahoma City, OK)             306.259781
(Dallas, TX, New Orleans, LA)               711.014147
(Dallas, TX, Houston, TX)                   361.541859
(Dallas, TX, Kansas City, MO)               730.377588
(Dallas, TX, San Antonio, TX)               406.006566
(Dallas, TX, Memphis, TN)                   675.331624
(Dallas, TX, Tulsa, OK)                     382.464108
(Dallas, TX, Austin, TX)                    292.911466
(Dallas, TX, Fort Worth, TX)                 49.933599
(Oakland, CA, Sacramento, CA)               109.821598
(Oakland, CA, San Jose, CA)                  61.902923
(Oakland, CA, Fresno, CA)                   250.230973
...                                                ...
(Memphis, TN, Tulsa, OK)                    548.096113
(Memphis, TN, Fort Worth, TX)               721.784550
(Memphis, TN, Indianapolis, IN)             617.295220
(Memphis, TN, Nashville-Davidson, TN)       315.750110
(Los Angeles, CA, Las Vegas, NV)            367.372801
(New York, NY, Detroit, MI)                 772.901141
(New York, NY, Columbus, OH)                765.963451
(New York, NY, Virginia Beach, VA)          461.656907
(Denver, CO, Omaha, NE)                     777.886325
(Denver, CO, Colorado Springs, CO)          101.650759
(Omaha, NE, Tulsa, OK)                      566.558436
(Omaha, NE, Minneapolis, MN)                469.537646
(Omaha, NE, Colorado Springs, CO)           796.839490
(Omaha, NE, Milwaukee, WI)                  695.285566
(Seattle, WA, Portland, OR)                 232.980035
(Tulsa, OK, Austin, TX)                     674.071177
(Tulsa, OK, Fort Worth, TX)                 397.046256
(Austin, TX, Fort Worth, TX)                279.260772
(Minneapolis, MN, Milwaukee, WI)            479.287760
(Indianapolis, IN, Detroit, MI)             386.140841
(Indianapolis, IN, Nashville-Davidson, TN)  404.391322
(Indianapolis, IN, Milwaukee, WI)           391.538845
(Indianapolis, IN, Columbus, OH)            270.306348
(Detroit, MI, Milwaukee, WI)                404.703490
(Detroit, MI, Nashville-Davidson, TN)       756.943865
(Detroit, MI, Columbus, OH)                 263.423765
(Nashville-Davidson, TN, Milwaukee, WI)     770.146706
(Nashville-Davidson, TN, Columbus, OH)      536.274548
(Milwaukee, WI, Columbus, OH)               532.568423
(Columbus, OH, Virginia Beach, VA)          701.876666

[235 rows x 1 columns]

### Creating edge based features

Many of the networkx functions related to edges return a nested data structures. We can extract the relevant data using list comprehension.

In [11]:
df['preferential attachment'] = [i[2] for i in nx.preferential_attachment(G, df.index)]

df

,weight,preferential attachment
"(El Paso, TX, Albuquerque, NM)",367.885844,35
"(El Paso, TX, Mesa, AZ)",536.256660,40
"(El Paso, TX, Tucson, AZ)",425.413867,40
"(El Paso, TX, Phoenix, AZ)",558.783570,45
"(El Paso, TX, Colorado Springs, CO)",797.751712,30
"(Long Beach, CA, Oakland, CA)",579.582999,88
"(Long Beach, CA, Mesa, AZ)",590.156204,88
"(Long Beach, CA, Sacramento, CA)",611.064979,99
"(Long Beach, CA, Tucson, AZ)",698.656667,88
"(Long Beach, CA, San Jose, CA)",518.233061,88
"(Long Beach, CA, Fresno, CA)",360.470458,99
"(Long Beach, CA, San Diego, CA)",151.450082,121
"(Long Beach, CA, Phoenix, AZ)",567.412539,99
"(Long Beach, CA, San Francisco, CA)",585.698540,88
"(Long Beach, CA, Los Angeles, CA)",31.694196,121
"(Long Beach, CA, Las Vegas, NV)",385.259773,132
"(Dallas, TX, Arlington, TX)",29.425931,121
"(Dallas, TX, Wichita, KS)",548.057249,110
"(Dallas, TX, Oklahoma City, OK)",306.259781,132
"(Dallas, TX, New Orleans, LA)",711.014147,88
"(Dallas, TX, Houston, TX)",361.541859,99
"(Dallas, TX, Kansas City, MO)",730.377588,154
"(Dallas, TX, San Antonio, TX)",406.006566,77
"(Dallas, TX, Memphis, TN)",675.331624,154
"(Dallas, TX, Tulsa, OK)",382.464108,121
"(Dallas, TX, Austin, TX)",292.911466,88
"(Dallas, TX, Fort Worth, TX)",49.933599,121
"(Oakland, CA, Sacramento, CA)",109.821598,72
"(Oakland, CA, San Jose, CA)",61.902923,64
"(Oakland, CA, Fresno, CA)",250.230973,72
...,...,...
"(Memphis, TN, Tulsa, OK)",548.096113,154
"(Memphis, TN, Fort Worth, TX)",721.784550,154
"(Memphis, TN, Indianapolis, IN)",617.295220,182
"(Memphis, TN, Nashville-Davidson, TN)",315.750110,182
"(Los Angeles, CA, Las Vegas, NV)",367.372801,132
"(New York, NY, Detroit, MI)",772.901141,99
"(New York, NY, Columbus, OH)",765.963451,135
"(New York, NY, Virginia Beach, VA)",461.656907,81
"(Denver, CO, Omaha, NE)",777.886325,36
"(Denver, CO, Colorado Springs, CO)",101.650759,24
"(Omaha, NE, Tulsa, OK)",566.558436,99
"(Omaha, NE, Minneapolis, MN)",469.537646,36
"(Omaha, NE, Colorado Springs, CO)",796.839490,54
"(Omaha, NE, Milwaukee, WI)",695.285566,90
"(Seattle, WA, Portland, OR)",232.980035,2
"(Tulsa, OK, Austin, TX)",674.071177,88
"(Tulsa, OK, Fort Worth, TX)",397.046256,121
"(Austin, TX, Fort Worth, TX)",279.260772,88
"(Minneapolis, MN, Milwaukee, WI)",479.287760,40
"(Indianapolis, IN, Detroit, MI)",386.140841,143
"(Indianapolis, IN, Nashville-Davidson, TN)",404.391322,169
"(Indianapolis, IN, Milwaukee, WI)",391.538845,130
"(Indianapolis, IN, Columbus, OH)",270.306348,195
"(Detroit, MI, Milwaukee, WI)",404.703490,110
"(Detroit, MI, Nashville-Davidson, TN)",756.943865,143
"(Detroit, MI, Columbus, OH)",263.423765,165
"(Nashville-Davidson, TN, Milwaukee, WI)",770.146706,130
"(Nashville-Davidson, TN, Columbus, OH)",536.274548,195
"(Milwaukee, WI, Columbus, OH)",532.568423,150
"(Columbus, OH, Virginia Beach, VA)",701.876666,135

In the case where the function expects two nodes to be passed in, we can map the index to a lamda function.

In [12]:
df['Common Neighbors'] = df.index.map(lambda city: len(list(nx.common_neighbors(G, city[0], city[1]))))

df

,weight,preferential attachment,Common Neighbors
"(El Paso, TX, Albuquerque, NM)",367.885844,35,4
"(El Paso, TX, Mesa, AZ)",536.256660,40,3
"(El Paso, TX, Tucson, AZ)",425.413867,40,3
"(El Paso, TX, Phoenix, AZ)",558.783570,45,3
"(El Paso, TX, Colorado Springs, CO)",797.751712,30,1
"(Long Beach, CA, Oakland, CA)",579.582999,88,7
"(Long Beach, CA, Mesa, AZ)",590.156204,88,5
"(Long Beach, CA, Sacramento, CA)",611.064979,99,7
"(Long Beach, CA, Tucson, AZ)",698.656667,88,5
"(Long Beach, CA, San Jose, CA)",518.233061,88,7
"(Long Beach, CA, Fresno, CA)",360.470458,99,8
"(Long Beach, CA, San Diego, CA)",151.450082,121,10
"(Long Beach, CA, Phoenix, AZ)",567.412539,99,6
"(Long Beach, CA, San Francisco, CA)",585.698540,88,7
"(Long Beach, CA, Los Angeles, CA)",31.694196,121,10
"(Long Beach, CA, Las Vegas, NV)",385.259773,132,10
"(Dallas, TX, Arlington, TX)",29.425931,121,10
"(Dallas, TX, Wichita, KS)",548.057249,110,6
"(Dallas, TX, Oklahoma City, OK)",306.259781,132,9
"(Dallas, TX, New Orleans, LA)",711.014147,88,5
"(Dallas, TX, Houston, TX)",361.541859,99,8
"(Dallas, TX, Kansas City, MO)",730.377588,154,6
"(Dallas, TX, San Antonio, TX)",406.006566,77,6
"(Dallas, TX, Memphis, TN)",675.331624,154,8
"(Dallas, TX, Tulsa, OK)",382.464108,121,9
"(Dallas, TX, Austin, TX)",292.911466,88,7
"(Dallas, TX, Fort Worth, TX)",49.933599,121,10
"(Oakland, CA, Sacramento, CA)",109.821598,72,7
"(Oakland, CA, San Jose, CA)",61.902923,64,7
"(Oakland, CA, Fresno, CA)",250.230973,72,7
...,...,...,...
"(Memphis, TN, Tulsa, OK)",548.096113,154,7
"(Memphis, TN, Fort Worth, TX)",721.784550,154,8
"(Memphis, TN, Indianapolis, IN)",617.295220,182,5
"(Memphis, TN, Nashville-Davidson, TN)",315.750110,182,6
"(Los Angeles, CA, Las Vegas, NV)",367.372801,132,10
"(New York, NY, Detroit, MI)",772.901141,99,5
"(New York, NY, Columbus, OH)",765.963451,135,7
"(New York, NY, Virginia Beach, VA)",461.656907,81,7
"(Denver, CO, Omaha, NE)",777.886325,36,2
"(Denver, CO, Colorado Springs, CO)",101.650759,24,3
"(Omaha, NE, Tulsa, OK)",566.558436,99,3
"(Omaha, NE, Minneapolis, MN)",469.537646,36,3
"(Omaha, NE, Colorado Springs, CO)",796.839490,54,3
"(Omaha, NE, Milwaukee, WI)",695.285566,90,3
"(Seattle, WA, Portland, OR)",232.980035,2,0
"(Tulsa, OK, Austin, TX)",674.071177,88,6
"(Tulsa, OK, Fort Worth, TX)",397.046256,121,9
"(Austin, TX, Fort Worth, TX)",279.260772,88,7
"(Minneapolis, MN, Milwaukee, WI)",479.287760,40,3
"(Indianapolis, IN, Detroit, MI)",386.140841,143,7
"(Indianapolis, IN, Nashville-Davidson, TN)",404.391322,169,11
"(Indianapolis, IN, Milwaukee, WI)",391.538845,130,7
"(Indianapolis, IN, Columbus, OH)",270.306348,195,10
"(Detroit, MI, Milwaukee, WI)",404.703490,110,6
"(Detroit, MI, Nashville-Davidson, TN)",756.943865,143,6
"(Detroit, MI, Columbus, OH)",263.423765,165,10
"(Nashville-Davidson, TN, Milwaukee, WI)",770.146706,130,7
"(Nashville-Davidson, TN, Columbus, OH)",536.274548,195,9
"(Milwaukee, WI, Columbus, OH)",532.568423,150,6
"(Columbus, OH, Virginia Beach, VA)",701.876666,135,7